
<!-- <form method="POST"
      id="account-form"
      hx-target="#toast2"
      hx-swap="outerHTML"
      class="space-y-6">
    {% csrf_token %} -->

<div class="max-w-3xl mx-auto bg-white rounded-2xl shadow-2xl p-8 border border-gray-200 mt-10">
    <div id="toast2"></div>

    <div class="mb-6">
        <label class="block text-sm font-semibold mb-2">
            Select Bank
        </label>

        <select name="bank"
                class="w-full bg-white border border-gray-500 rounded-lg px-4 py-3 shadow-md"
                hx-post="{% url 'bank_preview' %}"
                hx-target="#bank-details"
                hx-swap="innerHTML">

            <option value="">-- Choose a bank --</option>

            {% for bank in banks %}
                <option value="{{ bank.id }}">
                    {{ bank.name }}
                </option>
            {% endfor %}

        </select>
    </div>

    <div id="bank-details">
        {% include "bank/partials/bank_details.html" %}
    </div>

    <div class="mb-6 mt-6">
        <label class="block text-sm font-semibold mb-2">
            Account Number
        </label>

        <input type="text"
               id="account_nb"
               name="account_number"
               maxlength="20"
               class="w-full border border-gray-500 rounded-lg px-4 py-3">
    </div>

    <div class="mb-6">
        <label class="block text-sm font-semibold mb-2">
            IBAN
        </label>

        <input type="text"
               id="iban"
               maxlength="34"
               class="w-full border border-gray-500 rounded-lg px-4 py-3">
    </div>

    <div class="mb-6">
        <label class="block text-sm font-semibold mb-2">
            Initial Balance
        </label>

        <input type="number"
               step="0.01"
               name="amount"
               id="amount"
               class="w-full border border-gray-500 rounded-lg px-4 py-3">
    </div>

    <div class="mb-6">
        <label class="block text-sm font-semibold mb-2">
            Status
        </label>

        <select name="active"
                id="active"
                class="w-full border border-gray-500 rounded-lg px-4 py-3">

            <option value="true">Active</option>
            <option value="false">Inactive</option>

        </select>
    </div>

    <div class="flex justify-end pt-4">
        <button type="button"
                id="create-btn"
                class="px-8 py-3 bg-indigo-600 text-white rounded-xl">
            Create Account
        </button>
    </div>

</div>
