<!DOCTYPE html>
{% extends 'origin/base.html' %}
{% block content %}
<h3> Importing bank data</h3><br/><br/>
<div class="row" style="margin: 5px;">
  <div class="col-md-5">
      <table id="tableselect" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
          {% for doc in selcteddocuments %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
             <td>{{ doc.file}}</td>
            <td>{{ doc.created_at}}</td>
          {% endfor %}<br/>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Choos Selected Document</button>
    </div>
  </div>
  <div class="col-md-5">
      <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
          {% for doc in importdocuments %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ doc.name_document}}</td>
            <td>{{ doc.date_imported}}</td>
          </tr>
          {% endfor %}<br/>
      </tbody>
    </table>
  </div>
</div>

<div class="row" style="margin:4px;">
  <div class="col-md-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file", name="file" ></input>
        <input type="submit" name="Import">
    </form>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
      <button type="button" class="btn btn-success">Import Data</button>
  </div>
</div>
<script>
    $(document).ready(function () {
    $('#tableselect').DataTable({
        stateSave: true,
        select: true,
        select:{items:'row'}
        });
    });
</script>
{% endblock %}
</html>
